body{
    background-image: url(/assets/img/wp.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.bg-orange {
    background-color: #ff5733 !important;
}

.bg-sky {
    background-color: #6fb7e8 !important;
}

.text-orange {
    color: #ff5733 !important;
}
.text-sky {
    color: #6fb7e8 !important;
}

.btn-orange {
    background-color: #ff5733 !important;
}

.btn-sky {
    background-color: #6fb7e8 !important;
}