
.bg-orange {
    background-color: #ff5733 !important;
}

.bg-sky {
    background-color: #6fb7e8 !important;
}

.text-orange {
    color: #ff5733 !important;
}
.text-sky {
    color: #6fb7e8 !important;
}

.btn-orange {
    background-color: #ff5733 !important;
}

.btn-sky {
    background-color: #6fb7e8 !important;
}